@model homeCleanShop.Models.Review
@{
    ViewData["Title"] = "AddData";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
<h1>AddData</h1>
<form asp-action="AddData" method="post">
                <div class="form-group mb-3">
        <label asp-for="Rating">Rating:</label>
        <select class="form-control" name="rating" required>
                        <option value="5">5 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="2">2 Stars</option>
            <option value="1">1 Star</option>
        </select>
    </div>
                <div class="form-group mb-3">
                    <label class="control-label">Comment</label>
                    <textarea asp-for="Comment"
                              class="form-control"></textarea>
                    <span asp-validation-for="Comment"
                          class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Review">
                        Back to List
                    </a>
                    <button id="registerSubmit" type="submit" class="btn btn-outline-success float-right">Submit Review</button>

                </div>
</form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

