@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>homeCleanShop</h1>
    <div class="background-image-div" style="background-image: url('https://do3jpz7qc76yu.cloudfront.net/background_image.jpg');">
    </div>
</div>

<style>
    .background-image-div {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px; /* Set an appropriate height */
    }
</style>
